In [1]:
import pandas as pd
import numpy as np
import re 
pd.set_option('display.max_columns', None)

In [2]:
df_part1 = pd.read_csv("archivos_pair/world-data-2023_part1.csv",index_col=0)
df_part2 = pd.read_csv("archivos_pair/world-data-2023_part2.csv",index_col=0)

In [3]:
df_part1.head(2)

,Country,Density\r\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36

In [4]:
df_part2.head(2)

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"

In [5]:
df_part1.shape

(195, 16)

In [6]:
df_part2.shape

(195, 19)

In [7]:
df_merge = df_part1.merge(df_part2, how='inner' ,left_on="Country", right_on="country")

In [8]:
df_merge.head(2)

,Country,Density\r\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"

In [9]:
df_merge.drop("country",axis=1,inplace=True)

In [10]:

nuevas_columnas = {columna: columna.lower().replace(":", "_").replace(" ", "_").replace("\n","") for columna in df_merge.columns} 


df_merge.rename(columns = nuevas_columnas, inplace = True)

In [11]:
def limpiar_nombre_columna(nombre):  
    nombre = re.sub(r'\(.*?\)', '', nombre) 
    return nombre.strip()

In [12]:
nuevas_columnas = {col: limpiar_nombre_columna(col) for col in df_merge.columns}

In [13]:
df_merge.rename(columns=nuevas_columnas, inplace=True)

In [14]:
df_merge.head(1)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population__labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"

In [15]:
df_merge[["longitud", "latitud"]] = df_merge["coordinates"].str.split(",", expand=True).get([0, 1])

In [16]:
df_merge.drop("coordinates",axis=1,inplace=True)

In [38]:
df_merge.head(1)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population__labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,longitud,latitud
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.93911,67.709953

In [ ]:
df_merge['longitud'] = df_merge['longitud'].str.replace("(", "").str.replace("'", "").str.strip()
df_merge['latitud'] = df_merge['latitud'].str.replace(")", "").str.replace("'", "").str.strip()

In [39]:
nuevas_columnas = ['unemployment_rate', 'total_tax_rate', 'tax_revenue_', 'population__labor_force_participation_', 'out_of_pocket_health_expenditure', 'gross_tertiary_education_enrollment_', 'gross_primary_education_enrollment_', 'forested_area_', 'cpi_change_', 'agricultural_land']


df_merge[nuevas_columnas] = df_merge[nuevas_columnas].str.replace('%', '')

AttributeError: 'DataFrame' object has no attribute 'str'

In [37]:
df_merge['cpi_change_'] = df_merge['cpi_change_'].str.replace('%', '')